@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 1rem;
}

.bold {
  font-size: 1.5rem;
  font-weight: 400;
}
.top-nav .navbar {
  border-bottom: 1px solid black;
}
.navbar {
  height: 130px;
}
.navbar div {
  display: flex;
  align-items: center;
}

.navbar h1 {
  color: #232323;
  font-size: 2.6rem;
  font-weight: 900;
  width: 200px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li {
  margin: 0 15px;
  width: 80px;
}
.navbar ul a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(0deg, currentcolor, currentcolor) bottom center
    no-repeat;
  background-size: 0px 1px;
  transition: 0.5s;
  text-transform: uppercase;
}
.navbar ul a:hover {
  background-size: 100% 1px;
  font-weight: 600;
}
.navbar .active {
  background-size: 100% 1px;
  font-weight: 600;
}

.button {
  border: 1px solid black;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: black;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: black;
}
.custom-line {
  width: 30%;
  margin: 0 auto;
}
.download-links {
  display: flex;
  flex-direction: column;
}
.download-links div {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
}
.download-links div:hover {
  background-color: black;
  color: white;
}
.download-links div a {
  text-decoration: none;
  color: black;
}
.download-links div:hover a {
  color: white;
}
.footer {
  border-top: 1px solid black;
}

.footer ul {
  display: flex;
}
.navbar .toggel-icon {
  display: none;
}

/* video */
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }

  .top-nav #navbar-links {
    display: none;
  }
  .navbar .toggel-icon {
    display: inline-block;
    z-index: 2;
    cursor: pointer;
  }
  .toggel-icon i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navbar-links {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    transition: 1s;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: 1;
  }
  .navbar-links ul {
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 50px;
  }
  .navbar-links ul li {
    margin: 20px auto;
  }
  .navbar-links li a {
    font-size: 1.5rem;
  }

  .navbar-links a {
    font-size: 2rem;
  }
  .top-nav .navbar ul li {
    width: 100%;
  }
  .button {
    width: 90%;
    height: 100px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: auto;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
  label {
    font-size: 0.6rem;
  }
  .m-5 {
    margin: 2rem 1rem !important;
  }
  h2 {
    font-size: 1.2rem;
  }
  .bold {
    font-size: 0.8rem;
    font-weight: 400;
  }
  h3 {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .footer {
    justify-content: center;
    align-items: center;
  }
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .navbar {
    height: 100px;
  }
}
